@charset "utf-8";
/* CSS Document */

h1 {
	color: black;
	font-family: 'Permanent Marker', serif;
	font-size: 40px;
}
h2 {
	color: #353535;
	font-size: 3vw;
	font-family: 'Roboto', sans-serif;
	padding: 0px;
	margin: 0px;
	text-align: left;
	margin-left: 10px;
}
h3 {
	color: #353535;
	font-size: 2vw;
	font-family: 'Roboto', sans-serif;
	padding: 0px;
	margin: 0px;
	text-align: right;
	margin-right: 10px;
	margin-top: 10px;
	float: right;
}
h4 {
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 3vw;
}
h6 {
	font-family: 'Impact', 'Haettenschweiler', 'Oswald', 'Franklin Gothic Bold', 'Arial Black', 'sans-serif';
	color: black;
	text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}
p {
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 2vw;
	margin: 20%;
	margin-top: 0px;
	margin-bottom: 0px;
}

A:link {
	COLOR: black;
	TEXT-DECORATION: none;
	font-weight: bold
}
a:visited {
	COLOR: black;
	TEXT-DECORATION: none;
	font-weight: bold
}
A:hover {
	COLOR: red;
	TEXT-DECORATION: none;
	font-weight: bold
}
/* Grain texture */
.grain {
	background: url(images/grain.png) repeat;
}

.bg {
	/* The image used */
	background-image: url("images/background22.jpg");
	/* Full height */
	height: 100%;
	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.bottom {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 1;
	transform: translate(-50%, -50%);
	margin-top: 48px;
	margin-left: -70px;
}
.top {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	transform: translate(-50%, -50%);
	max-width: 1000px;
}
.home-text1 {
	margin-top: -430px;
	margin-left: -470px;
	transform: rotate(0deg);
}
.home-text2 {
	margin-top: -30px;
	margin-left: -350px;
	transform: rotate(0deg);
}
.home-text3 {
	margin-top: -113px;
	margin-left: 370px;
	transform: rotate(10deg);
}


.pf-contents {
	background-color: black;
}

.pf-thumbs {
	z-index: 1;
}


#projects {
	font-family: "Helvetica Neue", Gotham, Helvetica, Arial, "sans-serif";
	font-size: 2em;
	line-height: 10px;
	margin: 0px;
}
#portfolio {
	font-size: 4em;
	margin: 0px;
}
.img__description_layer {
	position: absolute;
	border-radius: 10px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(20, 20, 20, 0.8);
	color: #fff;
	visibility: hidden;
	opacity: 0;
	/* transition effect. not necessary */
	transition: opacity .2s, visibility .2s;
}
.img__wrap:hover .img__description_layer {
	visibility: visible;
	opacity: 1;
}
.img__description {
	transition: .2s;
	transform: translateY(1em);
	margin-top: 20%;
	margin: 10%;
}
.img__wrap:hover .img__description {
	transform: translateY(0);
}
.contact-bg {
	/* The image used */
	background-image: url("images/contact-tape3.png");
	background-color: #555555;
	/* Full height */
	height: 100%;
	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.tape {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.tape-text {
	display: inline-block;
	margin-top: 5%;
}
.form-style {
	display: inline-block;
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	width: 40%;
	min-width: 530px;
	padding-top: 0%;
}
.form-title {
	background-color: #ea4c46;
	width: 100%;
	border: none;
	padding-top: 20px;
	border-bottom: solid #333;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
input {
	width: 100%;
	margin: 0px;
	margin-left: 0px;
	font-size: 2.5vh;
	font-family: 'Roboto', sans-serif;
	color: #333;
	resize: both;
	padding: 10px;
	padding-top: 15px;
	outline: none;
	line-height: inherit;
	border: none;
	border-bottom: solid #333;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
#message {
	width: 100%;
	resize: none;
	padding: 0px;
	padding-top: 15px;
	padding-left: 10px;
	background-color: #e5e2d8;
	color: #333;
	font-size: 2.5vh;
	font-family: 'Roboto', sans-serif;
	border: 0px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	outline: none;
}
#submit-button {
	width: 100%;
	text-align: left;
	border: none;
	padding: 10px;
	margin-top: -5px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	font-size: 3vh;
	font-family: 'Roboto', sans-serif;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #353535;
	font-size: 2.5vh;
	font-family: 'Roboto', sans-serif;
	opacity: 1; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: #353535;
	font-size: 2.5vh;
}
::-ms-input-placeholder { /* Microsoft Edge */
	color: #353535;
	font-size: 2.5vh;
}
.about-thumbs {
	z-index: 1;
	background-image: none;
}
.about__wrap {
	display: inline-flex;
}
.about__img {
	width: 508px;
}
.about__description_layer {
	position: absolute;
}
#about_description_id {
	padding: 80px 40px 0px 150px;
	text-align: left;
	color: #1E1E1E;
}

.about-me__title {
	width: 512px;
	margin: 100px 0px 0px 0px;
	left: 0;
	transform: rotate(-11deg);
	text-align: right;
	opacity: 80%;
		
		
	}
.about-me__title h9 {
	color: white;
	display: block;
	font-family: 'Kanit', sans-serif;
	font-style: italic;
	font-weight: bolder;
	font-size: 145px;
	line-height: 100px;
	letter-spacing: 0px;
	padding: 0px 2px 0px 0px;
	text-shadow: -10px 5px 0px black;
	}
#about_id2 h8 {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
}
#about_mobile {
	display: none;
}
.contact_links {
	position: absolute;
	top: 50%;
	padding-left: calc(100px + 30vw);
}
	 
.resume_link {
	padding-top: 30px;
	padding-right: calc(60px + 30vw);
	transform: translateX(-100%);
}	
/* *************************MEDIA QUERIES************************************************************************************************************ */
@media (max-width: 1156px) {
	h2 {
		font-size: 5vh;
	}
	h3 {
		font-size: 3vh;
	}
	input {
		font-size: 2.5vh;
	}
	#message {
		font-size: 2.5vh;
	}
	#submit-button {
		font-size: 3vh;
	}
	::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
		font-size: 2.5vh;
	}
	:-ms-input-placeholder { /* Internet Explorer 10-11 */
		font-size: 2.5vh;
	}
	::-ms-input-placeholder { /* Microsoft Edge */
		font-size: 2.5vh;
	}
	.contact_links {
		top: auto;
		bottom: 5%;
		padding: 0 10px;
	}
	.resume_link {
		bottom: 6%;
	}
}
/* *************************MEDIA QUERIES 830px***************************************************** */
@media (max-width: 830px), (max-height: 812px) {
	h1 {
		font-size: 28px;
	}
	.home-text1 {
		margin-top: -300px;
		margin-left: -320px;
	}
	.home-text2 {
		margin-top: -20px;
		margin-left: -240px;
	}
	.home-text3 {
		margin-top: -80px;
		margin-left: 260px;
	}
	.top {
		width: 694px;
		padding-left: 0px;
	}
	.bottom {
		width: 485px;
		margin-top: 38px;
		padding-left: 50px;
	}
	.pf-bg {
		background-image: url("images/VHS-Bottom-reduced.jpg");
	}
	.pf-resize {
		width: 712px;
	}
	.img__wrap {
		width: 712px;
	}
	.img__img {
		width: 712px;
	}
	.img__description_layer h4 {
		font-size: 55px;
		margin-bottom: 10px;
	}
	.img__description_layer p {
		font-size: 35px;
	}
	.about__img {
		width: 356px;
	}
	.about-me__title {
		width: 356px;
		margin: 70px 0px 0px 0px;	
	}
	.about-me__title h9 {
		font-size: 100px;
		line-height: 70px;
		padding: 0px 2px 0px 0px;
		text-shadow: -8px 0px 0px black;
	}
	.about__description_layer {
		position: absolute;
		color: white;
	}
	#about_description_id {
		padding: 50px 20px 0px 100px;
		text-align: left;
		color: #1E1E1E;
	}
	#about_id2 h8 {
		font-family: 'Roboto', sans-serif;
		font-size: 14px;
	}
}
/* *************************MEDIA QUERIES 732px***************************************************** */
@media (max-width: 732px) {
	.about__wrap {
		display: block;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		width: 712px;
	}
	.about-thumbs {
		background-image: url(images/Flexbox-Buffer-Reduced.jpg);
		background-position: center;
	}
	#about_mobile {
		display: block;
	}
	#about_id1, #about_id2 {
		display: none;
	}
	.about__img {
		width: 356px;
	}
	.about__description_layer {
		width: 356px;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: none;
		color: #fff;
		visibility: visible;
		opacity: 1;
		transform: translateX(50%);
	}
	#about_description_id_mobile h8 {
		font-size: 40px;
		padding: 0 5px;
	}
	#about_description_id_mobile p {
		font-size: 12px;
		margin: 0;
		padding: 0px 5px 0px 10px;
		color: #1E1E1E;
		text-align: left;
		line-height: normal;
	}
}
/* *************************MEDIA QUERIES 712px***************************************************** */
@media (max-width: 712px) {
	.pf-contents {
		left: 50%;
		transform: translateX(-50%);
	}
	.about-me__title {
		width: 356px;
		margin: 0px 0px 0px 0px;
	}
	.about-me__title h9 {
		font-size: 100px;
		line-height: 70px;
		padding: 50px 2px 0px 0px;
		text-shadow: -8px 0px 0px black;
	}
		
	#about_description_id_mobile {
		margin-top: 175px;
	}
}
/* *************************MEDIA QUERIES 640px***************************************************** */
@media (max-width: 640px) {
	.form-style {
		width: 100%;
		min-width: inherit;
	}
}
/* *************************MEDIA QUERIES 570px***************************************************** */
@media (max-width: 570px) {
	h1 {
		font-size: 28px;
	}
	.home-text1 {
		margin-top: -300px;
		margin-left: -320px;
	}
	.home-text2 {
		margin-top: -20px;
		margin-left: -230px;
	}
	.home-text3 {
		margin-top: -79px;
		margin-left: 267px;
	}
	.top {
		width: 694px;
		padding-left: 95px;
	}
	.bottom {
		width: 485px;
		margin-top: 40px;
		padding-left: 135px;
	}
}
/* *************************MEDIA QUERIES 480px***************************************************** */
@media screen and (max-width: 480px), (max-height: 550px) {
	h1 {
		font-size: 15px;
	}
	.home-text1 {
		margin-top: -42.5%;
		margin-left: -200px;
	}
	.home-text2 {
		margin-top: -8px;
		margin-left: -150px;
	}
	.home-text3 {
		margin-top: -44px;
		margin-left: 157px;
	}
	.top {
		width: 420px;
		padding-left: 55px;
	}
	.bottom {
		width: 300px;
		margin-top: 18px;
		padding-left: 135px
	}
	.img__wrap {
		width: 320px;
	}
	.pf-center {
		width: 100%;
	}
	.pf-bg {
		width: 100%;
		margin: 0;
		padding: 0;
	}
	.pf-contents {
		width: 100%;
	}
	.pf-resize {
		width: 100%;
		padding: 0;
		margin: 0;
	}
	.img__img {
		width: 100%;
	}
	.img__wrap {
		width: 100%;
	}
	.img__wrap:hover, .img__wrap:active .img__description_layer {
		visibility: visible;
		opacity: 1;
	}
	.img__description {
		transition: .2s;
		margin-top: 20%;
		margin: 10%;
	}
	.img__wrap:hover, .img__wrap:active .img__description {
		transform: translateY(50);
	}
	.about__wrap {
		width: 320px;
	}
	.about__img {
		width: 100%;
		max-width: 356px;
	}
	.about__wrap {
		width: 100%;
	}
	.about__description_layer {
		transform: translateX(-50%);
		left: 50%;
		margin: 0%;
	}
	#projects {
		font-size: 5vw;
	}
	#portfolio {
		font-size: 7vw;
	}
	.form-title {
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
	}
	#submit-button {
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
	}
	.img__description_layer h4 {
		font-size: 6vw;
		margin-bottom: 0px;
	}
	.img__description_layer p {
		margin-top: 0px;
		font-size: 5vw;
	}
}
/* *************************MEDIA QUERIES 370px***************************************************** */
@media screen and (max-width: 370px) {
	.about-me__title {
		width: 100%;
		margin: 0px 0px 0px 0px;
	}
	.about-me__title h9 {
		font-size: 26vw;
		line-height: 20vw;
		padding: 30px 0px 0px 0px;
		text-shadow: -8px 0px 0px black;
	}
	#about_description_id_mobile {
		
	}
	#about_description_id_mobile {
		margin: 18vw 0 0 0;
		padding: 0;
		transform: translateY(58%);
		left: 0%;
	}
	#about_description_id_mobile h8 {
		font-size: 10vw;
	}
	#about_description_id_mobile p {
		font-size: 3.1vw;
		line-height: 3.8vw;
	}
	.about__description_layer {
		width: 100%
	}
}
/* *************************MEDIA QUERIES 356px***************************************************** */
@media screen and (max-width: 356px) {
	.about-thumbs {
		background-image: none;
		background-color: black;
	}
}
