@charset "utf-8";
/* CSS Document */

h1 {
	color: white;
	font-size: 70px;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	margin: 0;
	padding: 0;
	line-height: 60px;
	display: inline;
}
h2 {
	color: yellow;
	font-family: 'Roboto', sans-serif;
	font-size: 35px;
	vertical-align: top;
	padding-left: 10px;
}
h3{
	color: #181818;
	font-family: 'Roboto', sans-serif;
	font-size: 35px;
	margin: 3%;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: left;
	font-weight: normal;
}
ul {
	color: #181818;
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: left;
}
 video::-webkit-media-controls-panel {
	 background-image: linear-gradient(transparent, transparent) !important;
	 -webkit-box-shadow: none !important;
	 -moz-box-shadow: none !important;
	 box-shadow: none !important;
}
A:link {
	COLOR: white;
	TEXT-DECORATION: none;
	font-weight: bold
}
a:visited {
	COLOR: white;
	TEXT-DECORATION: none;
	font-weight: bold
}
a:hover {
	COLOR: red;
	text-decoration: none;
	font-weight: bold
}
.pf-contents {
	background-image: url("images/pf__bg-texture--1020px.jpg");
}
.header {
	position: relative;
	background-image: url("images/pf__header__bg-texture.jpg");
	background-color: #000;
	width: 1020px;
	height: auto;
	left: 50%;
	transform: translate(-50%, 0%);
	padding: 0px 0 0px 0;
	margin: 0px;
}
.header__bg-top {
	background-image: url("images/pf__header__bg-top.png");
	background-repeat: no-repeat;
	background-position:top;
	background-size: contain;
	width: 100%;
	margin: 0;
	padding: 0;
	height: inherit;
	}
.header__text {
	text-align: center;
	padding: 30px 14px 14px 14px;
	margin-top: 0px;
	z-index: 1;
}
#header--texture {
	-webkit-mask-image: url("images/header-text--texture.png");
	opacity: 100%;
}
.subtitle {
	display: inline-block;
	padding-top: 0;
	margin: 0;
}
#subtitle--year {
	color: #ea4d46;
	padding: 0;
}
.showcase {
	position: relative;
	display: block;
	padding: 0 20px;
}
.vimeo-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.vimeo-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
.description {
	margin-bottom: 20px;
	margin: 0 20px;
}
.row {
	display: -ms-flexbox; /* IE10 */
	display: flex;
	-ms-flex-wrap: wrap; /* IE10 */
	flex-wrap: wrap;
	padding: 2%;
}
.column {
	-ms-flex: 49%; /* IE10 */
	flex: 49%;
	max-width: 49%;
	padding: 0 0.5%;
}
.column img {
	margin-top: 2%;
	vertical-align: middle;
}
.images {
	width: 100%;
	box-shadow: 0px 0px 1px 1px #929292;
}
.main-body__bottom {
	margin: 0px;
	padding: 0;
	position: relative;
	display: block;
	width: 100%;
	height: 113px;
	background-image: url(images/pf__main-body__bottom--1020px.jpg);
	background-color: black;
	}
.footer {
	background-image: url(images/footer-bg--1020px.png);
	background-color: black;
	position: relative;
	width: 1020px;
	height: 149px;
}
.footer__flex-container {
	padding: 0 180px 0 120px;
	display: flex;
	justify-content: space-around;
}
.footer-text {
	width: 360px;
	padding-top: 38px;
	font-family: 'Permanent Marker', serif;
	line-height: 35px;
	font-size: 28px;
}
.footer-text A:link {
	COLOR: black;
}
.footer-text a:visited {
	COLOR: black;
	TEXT-DECORATION: none;
	font-weight: bold
}
.footer-text a:hover {
	COLOR: red;
	text-decoration: none;
	font-weight: bold
}
.footer__sticker {
	padding-top: 27px;
  	height: 84px;
}		
.footer__sticker--small {
	display: none;
}
#footer__resume-sticker {
	padding-right: 20px;
}
#footer-text__break--display {
		display: none;
	}
/********************MEDIA QUERIES**********************/
@media (max-width: 1020px) {
	.pf-contents {
		left: 50%;
		transform: translateX(-50%);
		background-size: contain;
	}
	.header{
		width: 100%;
		height: auto;
		background-size: contain;
		padding: 0px;
	}
	.header__text{
		padding-top: 3vw;
	}
	.showcase {
		padding: 0 10px;
	}
	.main-body__bottom {
		background-size: contain;
		background-repeat: no-repeat;
		height: calc(100vw * 0.11);
	}
	.footer {
		position: absolute;
		left: 50%;
		transform: translate(-50%, 0%);
	}
}

/* TABLET */
@media (max-width: 830px) {
	.pf-bg {
		background-image: url("images/casette-bottom-tile--712px.jpg");
	}
	.pf-contents {
		max-width: 830px;
		background-image: url("images/pf__bg-texture--830px.jpg");
	}
	.pf-resize {
		max-width: 830px;
	}
	h1 {
		font-size: 60px;
		line-height: 54px;
	}
	h2 {
		font-size: 30px;
		margin: 0px;
	}
	h3{
		font-size: 24px;
		margin: 0 30px;
	}
	ul {
		font-size: 18px;
		margin: 0 10px;
	}
	.description {
		margin-bottom: 20px;
		margin: 0 0px;
	}
	.footer {
		background-image: url(images/footer-bg--830px.png);
		background-position: center;
		height: 121px;
		position: absolute;
		left: 50%;
		transform: translate(-50%, 0%);
		width: 100%;
	}
	.footer__flex-container {
		position: absolute;
		left: 50%;
		transform: translate(-50%, 0%);
		width: 580px;
		padding: 0;
	}		
	.footer-text {
		width: 280px;
		padding-top: 29px;
		padding-left: 10px;
		line-height: 28px;
		font-size: 23px;
		}
	.footer__sticker {
		padding-top: 27px;
		height: 58px;
	}	
	.footer__sticker--regular {
		display: none;
	}
	.footer__sticker--small {
		display: block;
	}
}
/* MOBILE */
@media screen and (max-width: 680px) {
	h1 {
		font-size: calc(16px + 4vw);
		line-height: calc(10px + 4vw);
	}
	h2 {
		font-size: calc(13px + 1.5vw);
	}
	.header__text{
		padding-top: 20px;
	}
	.column {
		-ms-flex: 100%;
		flex: 100%;
		max-width: 100%;
	}
	.footer__flex-container {
		width: 100%;
		padding-right: 10%;
	}
	#footer-text__get-in--display {
		display: none;
	}
}
		
@media screen and (max-width: 480px) {
	h3{
		font-size: 20px;
		margin: 0 20px;
	}
	ul {
		font-size: 16px;
		margin: 0 0px;
	}
	.showcase {
			padding: 0 5px;
	}
	.description {
		margin-bottom: 20px;
		margin: 0 0px;
	}
	.footer {
		background-image: url(images/footer-bg--1020px.png);
		height: 150px;
	}
	.footer__flex-container {
		padding: 0;
	}
	.footer-text {
		width: 50%;
		padding-top: 30px;
		line-height: 28px;
		font-size: 23px;
	}
	.footer__sticker {
		padding-top: 40px;
		height: 30px;
	}
	#footer-text__spaces--display {
		display: none;
	}
	#footer-text__break--display {
		display: contents;
	}
}
		
@media screen and (max-width: 350px){
	.header__text{
		padding: 10px 5px 5px 5px;
	}
	.footer-text {
		width: 55%;
		padding-top: 29px;
		line-height: 28px;
		font-size: 20px;
	}
	.footer__sticker {
		padding-top: 40px;
	  height: 30px;
	}			
	#back, #next, #contact {
		display: block;
	}
	#contact {
		padding-bottom: 4px;
	}
}
