@charset "utf-8";
/* CSS Document */

h1 {
	color: white;
	font-size: 70px;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	margin: 0px;
	line-height: normal;
	display: inline;
}
h2 {
	color: yellow;
	font-family: 'Roboto', sans-serif;
	font-size: 35px;
	display: inline;
}
h3{
	color: #181818;
	font-family: 'Roboto', sans-serif;
	font-size: 35px;
	margin: 3%;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: left;
	font-weight: normal;
}
h7 {
	font-size: 27px;
	font-family: 'Permanent Marker', serif;
}

ul {
	color: #181818;
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: left;
}
 video::-webkit-media-controls-panel {
 background-image: linear-gradient(transparent, transparent) !important;
 -webkit-box-shadow: none !important;
 -moz-box-shadow: none !important;
 box-shadow: none !important;
}
A:link {
	COLOR: white;
	TEXT-DECORATION: none;
	font-weight: bold
}
a:visited {
	COLOR: white;
	TEXT-DECORATION: none;
	font-weight: bold
}
a:hover {
	COLOR: red;
	text-decoration: none;
	font-weight: bold
}
.footer {
	background-image: url(images/website-footer-bg.png);
	background-color: black;
	position: relative;
	width: 1020px;
	height: 149px;
	
}

.footer__flex-container {
	padding: 0 180px 0 120px;
	display: flex;
	justify-content: space-around;
}
		
.footer-text {
	width: 360px;
	padding-top: 38px;
		}
		
.footer-text h7{
	line-height: 35px;
		font-size: 28px;
		}
		
.footer-text A:link {
	COLOR: black;
}
.footer-text a:visited {
	COLOR: black;
	TEXT-DECORATION: none;
	font-weight: bold
}
.footer-text a:hover {
	COLOR: red;
	text-decoration: none;
	font-weight: bold
}

.linkedin {
	padding-top: 27px;
  	height: 84px;
}
		
.li-reduced {
	display: none;
}
#footer__resume-sticker {
	padding-right: 20px;
}
#remove_1 {
		display: none;
	}
.pf-contents {
	background-image: url("images/portfolio-bg-texture.jpg");
}



.header {
	position: relative;
	background-image: url("images/pf__header__bg-texture.jpg");
	background-color: #000;
	width: 1020px;
	height: 168px;
	left: 50%;
	transform: translate(-50%, 0%);
	padding: 0px 0 10px 0;
	margin: 0px;
}

.header__bg-top {
	background-image: url("images/pf__header__bg-top.png");
	background-repeat: no-repeat;
	background-position:top;
	background-size: contain;
	width: 100%;
	margin: 0;
	padding: 0;
	height: inherit;
	}
.title {
	text-align: center;
	padding: 14px 14px 14px 14px;
	margin-top: 0px;
	z-index: 1;
}
.subtitle {
	display: inline-block;
	padding-bottom: 0;
	margin-bottom: 0;
	
}
.date_period {
	-ms-flex: 58%; /* IE10 */
	flex: 58%;
	max-width: 58%;
	padding: 0px;
	text-align: left;
}
.go-back {
	-ms-flex: 42%; /* IE10 */
	flex: 42%;
	max-width: 42%;
	padding: 0px;
	text-align: right;
	padding-right: 20px;
}
.header-texture {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	transform: translate(-50%, -50%);
	max-width: 1000px;
	opacity: 100%;
}
.showcase {
	position: relative;
	display: block;
	padding: 0 20px;
}
.row {
	display: -ms-flexbox; /* IE10 */
	display: flex;
	-ms-flex-wrap: wrap; /* IE10 */
	flex-wrap: wrap;
	padding: 2%;
}
.description {
	margin-bottom: 20px;
	margin: 0 20px;
}
.column {
	-ms-flex: 49%; /* IE10 */
	flex: 49%;
	max-width: 49%;
	padding: 0 0.5%;
}
.column img {
	margin-top: 2%;
	vertical-align: middle;
}
.end-tape {
	background-image: url(images/footer-bg);
	background-color: #ebe6e3;
	margin-top: 0px;
	width: 1020px;
	height: auto;
	position: relative;
	left: 50%;
	transform: translate(-50%, 0%);
		}
	
.back-button {
	margin: 0px;
		padding: 0px;
	}


#maskText2 h2 {
	-webkit-mask-image: url("images/tiny-texture3.png");
	mix-blend-mode: darken;
	opacity: 100%;
	height: auto;
	margin: 0;
	padding: 0;
}
#maskText3 h1 {
	-webkit-mask-image: url("images/tiny-texture3.png");
	opacity: 100%;
	height: auto;
	margin: 0 0 0px 0; 
	padding: 0;
}
.end-tape h7 {
	font-size: 40px;
}
.end-tape A:link {
	COLOR: black;
}
.end-tape a:visited {
	COLOR: black;
	TEXT-DECORATION: none;
	font-weight: bold
}
.end-tape a:hover {
	COLOR: red;
	text-decoration: none;
	font-weight: bold
}
.bottom-go-back {
	position: relative;
	background-image: url(images/footer-and-back-button4.jpg);
	background-color: black;
	height: 97px;
	padding-top: 69px;
}

		#bottom-text {
		}
		
	

/********************MEDIA QUERIES START HERE MA MAN**********************/
@media (max-width: 1020px) {
	.pf-contents {
		left: 50%;
		transform: translateX(-50%);
		background-size: contain;
	}
	.showcase {
		padding: 0 10px;
	}
	.bottom-go-back{
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0%);
		width: 1020px;
	}
	.header {
		width: 100%;
		height: auto;
		background-size: contain;
		padding: 0px;
	}
	.footer {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0%);
	margin-top: 168px;
	}
}

/* TABLET */
@media (max-width: 830px) {
	.pf-bg {
		background-image: url("images/VHS-Bottom-reduced.jpg");
	}
	.pf-contents {
		max-width: 830px;
		background-image: url("images/portfolio-bg-texture-reduced.jpg");
	}
	.pf-resize {
		max-width: 830px;
	}
	h1 {
		font-size: 60px;
	}
	h2 {
		font-size: 30px;
		margin: 0px;
	}
	h3{
		font-size: 24px;
		margin: 0 30px;
	}
	ul {
		font-size: 18px;
		margin: 0 10px;
	}
	.description {
		margin-bottom: 20px;
		margin: 0 0px;
	}
	.date_period {
		-ms-flex: 59%; /* IE10 */
		flex: 59%;
		max-width: 59%;
		padding: 0px;
		text-align: left;
	}
	.go-back {
		-ms-flex: 40%; /* IE10 */
		flex: 40%;
		max-width: 40%;
		padding: 0px;
		text-align: right;
		padding-right: 10px;
	}
	.bottom-go-back {
		background-image: url(images/footer-and-back-button4-reduced.jpg);
		height: 87px;
		padding-top: 50px;
		width: 830px;
	}
	.footer {
		background-image: url(images/website-footer-bg-reduced.png);
		background-position: center;
		height: 121px;
		margin-top: 135px;
		position: absolute;
		left: 50%;
		transform: translate(-50%, 0%);
		width: 100%;
	}
	.footer__flex-container {
		position: absolute;
		left: 50%;
		transform: translate(-50%, 0%);
		width: 580px;
		padding: 0px;
	}		
	.footer-text {
		width: 280px;
		padding-top: 29px;
			}
	.footer-text h7{
		line-height: 28px;
		font-size: 23px;
	}
	.linkedin {
		padding-top: 27px;
		height: 58px;
	}	
	.li-main {
		display: none;
	}
	.li-reduced {
		display: block;
	}
		}

/* MOBILE */
@media screen and (max-width: 680px) {
	.column {
		-ms-flex: 100%;
		flex: 100%;
		max-width: 100%;
	}
	h1 {
		font-size: calc(16px + 4vw);
	}
	h2 {
		font-size: calc(13px + 1.5vw);
		margin: 0px;
		padding: 0px;
	}	
	.go-back h7 {
		font-size: calc(17px + 1.5vw);
		margin: 0px;
		padding: 0px;
	}
	.date_period {
		-ms-flex: 100%; /* IE10 */
		flex: 100%;
		max-width: 100%;
		padding: 0px;
		text-align: center;
	}
.go-back {
	-ms-flex: 100%; /* IE10 */
	flex: 100%;
	max-width: 100%;
	padding: 0px;
	text-align: center;
}
	.footer__flex-container {
		width: 100%;
		padding-right: 10%;
	}	
	
	
	#remove_2, #remove_3 {
		display: none;
	}
}
		
@media screen and (max-width: 480px) {
	.showcase {
			padding: 0 5px;
	}
	.footer {
		background-image: url(images/website-footer-bg.png);
		height: 150px;
	}
	.footer__flex-container {
		padding: 0;
	}
	.footer-text {
		width: 50%;
		padding-top: 30px;
	}	
	.footer-text h7{
		line-height: 28px;
		font-size: 23px;
	}
	.linkedin {
		padding-top: 40px;
		height: 30px;
	}
	#remove_3 {
		display: none;
	}
	#remove_1 {
		display: contents;
	}
	h3{
		font-size: 20px;
		margin: 0 20px;
	}
	ul {
		font-size: 16px;
		margin: 0 0px;
	}
	.description {
		margin-bottom: 20px;
		margin: 0 0px;
	}
}
		
@media screen and (max-width: 350px){

.footer-text {
	width: 55%;
	padding-top: 29px;
		}
		
.footer-text h7{
	line-height: 28px;
		font-size: 23px;
		}
	
.linkedin {
	padding-top: 40px;
  height: 30px;
}	
			
			#about, #print, #hello {
	display: block;
	}
	
	#hello {
		padding-bottom: 4px;
	}
		}
